// Fuentes
$fuentePrincipal: "Roboto", sans-serif;
$fuenteSecundaria: "Lobster", cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colores
$primario: #0b132b;
$secundario: #3a506b;
$negro: #000;
$blanco: #ffffff;
$gris: #f5f5f5;
